<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= food %></title>
</head>
<body>
    <h1><%= like %>하는 <%= food %></h1>
    <ul>
        <li><%= drink %></li>
        <li>케이크</li>
        <li>ㅇㅇ</li>
    </ul>
</body>
</html>